#textdomain wesnoth-cod

[scenario]
    id="Citadel_of_Drand_3v3"
    name= _ "Citadel of Drand (3v3)"
    {TURNS 24 26 28}
    map_file=assault_siege.map
    next_scenario=Citadel_of_Drand_Reversed_3v3

    allow_new_game=yes
    new_game_title= _ "3v3 Mode"
    force_lock_settings=yes

    {DEFAULT_SCHEDULE}
    random_start_time=yes

    {DEFAULT_MUSIC_PLAYLIST}

    victory_when_enemies_defeated=no
    experience_modifier={ON_DIFFICULTY 70 100 150}

    {SET_UP_SCENARIO_LABELS}

    # player one
    # attacker
    {ATTACKER_SIDE 1 1}

    # player two
    # defender
    {DEFENDER_SIDE 2 2}

    # player three
    # attacker
    {ATTACKER_SIDE 3 3}

    # player four
    # defender
    {DEFENDER_SIDE 4 4}

    # player five
    # attacker
    {ATTACKER_SIDE 5 5}
    
    # player six
    # defender
    {DEFENDER_SIDE 6 6}

    # prestart
    [event]
        name="prestart"

        {SET_UP_TUNNELS}
        {ATTACKER_OBJECTIVES}
        {DEFENDER_OBJECTIVES}
    [/event]
[/scenario]